# Dependency
node_modules/

node_modules
.env
coverage
coverage.json
typechain
typechain-types
operator/tmp-leafs/
operator/tmp-tree/
operator/data
operator/node_modules
operator/package-lock.json
prover/proof
Roll-Up.code-workspace

#Hardhat files
cache
artifacts
